.report_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    min-height: 100%;
    padding: 20px;
}

.report_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-left: 250px;
    margin-right: 20px;
    background-color: #f9f9f9;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 80%;
    max-width: 1200px;
}

.report_heading_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width : 100%;
}

.report_heading {
    font-size: 26px;
    color: #27ae60;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.report_heading_search {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
} 

.report_item_div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.report_item {
    background-color: #f1f1f1;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

.report_item:hover {
    transform: scale(1.02);
    background-color:  #fffefe;
}

.report_item_image {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.report_item_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.report_item_data {
    flex: 1;
    font-size: 16px;
    color: #333;
    margin: 0 10px;
}

.report_message {
    font-size: 18px;
    color: #999;
    text-align: center;
    margin: 20px 0;
    height: 50px;
}

.report_table th, .report_table td {
    padding: 10px;
    text-align: center;
}

.report_table th {
    background-color: #27ae60;
    color: white;
    font-weight: bold;
}
